name: mnwatcher

services:
  api:
    image: painven/mnwatcher_api:latest
    container_name: mnwatcher_api
    restart: unless-stopped
    env_file: ".env.api"
    ports:
      - "8050:80"
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
    - mnwatcher_network
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: mnwatcher_database
    restart: always
    env_file: ".env.db"
    volumes:
      - mnwatcher_pgdata:/var/lib/postgresql/data # Persists data in a named volume
    networks:
      - mnwatcher_network

networks:  
  mnwatcher_network:
    name: mnwatcher_network
    external: false

volumes:
  mnwatcher_pgdata:
    name: mnwatcher_pgdata
    external: false